.shiny-text {
  color: #ffffff22;
  background: linear-gradient(
    120deg,
    rgba(226, 177, 113, 0) 40%,
    rgba(226, 177, 113, 1) 50%,
    rgba(226, 177, 113, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine linear infinite;
}

.shiny-text.disabled {
  animation: none;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
